@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
	font-family: 'Poppins', sans-serif, serif;
}

.top{
	filter: blur(5px);
	max-width: 100%;
	transition: .8s;
}
.top:hover{
	filter: unset;
}
.bulat{
	width: 20rem;
	height: 20rem;
	max-height: 100%;
	max-width: 100%;
	background: linear-gradient(315deg, rgba(183,203,240,1) 0%, rgba(179,182,255,1) 33%, rgba(255,152,199,1) 100%);
	filter: blur(20px);
	border-radius: 50%;
	position: absolute;
	z-index: -1;
	
}

.skill{
	background: linear-gradient(203deg, rgba(183,203,240,1) 15%, rgba(179,182,255,1) 42%, rgba(205,179,229,1) 70%, rgba(166,153,194,1) 100%);
	color: white;
	padding: 30px;
}

.pendidikan p h2{
	position: relative;
}

.skill2{
	padding-top: 70px;

}

.selengkapnya{
	background: linear-gradient(203deg, rgba(183,203,240,1) 15%, rgba(179,182,255,1) 42%, rgba(205,179,229,1) 70%, rgba(166,153,194,1) 100%);;
	width: fit-content;
	height: fit-content;
	font-size: small;
	text-decoration: none;
	color: white;
	padding: 10px;
	border-radius: 50px;
	cursor: pointer;

}

.selengkapnya:hover{
	color: white;

}

.findme{
	background-color: white;
	text-decoration: none;
	color: black;
	padding: 10px;
	border-radius: 50px;
	cursor: pointer;
}

.findme:hover{
	color: black;
}

.footer{
	height: 100%;
	padding: 20px;
	color: white;
	background-image: url(bgfooter.png);
}

.ket{
	opacity: 0;
}

@media (max-width: 760px){
	body{
		padding: 2rem 0;
	}

	.bulat{
		width: 10rem;
		height: 10rem;
	}

	.top{
		filter: unset;
	}
	.ket{
		opacity: 1;
	}
}