@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif, serif;
}

a{
	text-decoration: none;
	color: black;
}
.hero{
	height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(0, 0, 0, .4),rgba(0, 0, 0, .4)),url(light.png);
	background-position: center;
	background-size: cover;
	position: absolute;
}

.form-box{
	width: 330px;
	max-width: 100%;
	height: 480px;
	position: relative;
	margin: 6% auto;
	background: #fff;
	padding: 5px;
	overflow: hidden;
}

.button-box{
	width: 220px;
	margin: 35px auto;
	position: relative;
	box-shadow: 0 0 20px 9px #ff61241f;
	border-radius: 30px;
}

.download{
	font-size: small;
	padding: 10px 20px;
	box-shadow: 0 0 20px 9px #cdcbcb;
	background: #ffad06;
	border-radius: 30px;
	position: relative;
}

.toggle-btn{
	padding: 10px 30px;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: none;
	position: relative;

}

#btn{
	top: 0;
	left: 0;
	position: absolute;
	width: 110px;
	height: 100%;
	background: linear-gradient(to right, #ff105f,#ffad06);
	border-radius: 30px;
	transition: ,5s;
}

#rafa img{
	rotate: 180deg;
}

.profil{
	margin: 30px auto;

}


.profil img{
	width: 200px;
	margin: 0 12px;
	box-shadow: 0 0 20px 0 #7f7f7f3d;
	border-radius: 20px;
}

.input-group{
	top: 140px;
	position: absolute;
	width: 280px;
	transition: .5s;

}

.submit-btn{
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: linear-gradient(to right, #ff105f,#ffad06);
	border: 0;
	outline: none;
	border-radius: 30px;
}

.submit-btn:hover{
	color: white;
}

#ary{
	left: 50px;

}
#rafa{
	left: 450px;
}