@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
	font-family: 'Poppins', sans-serif, serif;
}

body{
	
}

.nama{
	margin: 5rem 0 0 0 ;
	color: white;
}

.profil{
	max-width: 100%;
	width: 400px;
	border-radius: 50px;
}
.col-4 img{
	padding-bottom: 39%;
}

.bg{
	background: linear-gradient(137deg, rgba(183,203,240,1) 0%, rgba(179,182,255,1) 55%, rgba(255,152,199,1) 100%);

}

.bulat{
	width: 20rem;
	height: 20rem;
	max-height: 100%;
	max-width: 100%;
	background: linear-gradient(315deg, rgba(183,203,240,1) 0%, rgba(179,182,255,1) 33%, rgba(255,152,199,1) 100%);
	filter: blur(20px);
	border-radius: 50%;
	
}

.skill{
	background: linear-gradient(203deg, rgba(183,203,240,1) 15%, rgba(179,182,255,1) 42%, rgba(205,179,229,1) 70%, rgba(166,153,194,1) 100%);
	color: white;
	padding: 30px;
}

.skill2{
	padding-top: 70px;

}


@media (max-width: 760px){
	body{
		padding: 2rem 0;
	}

	.bulat{
		width: 10rem;
		height: 10rem;
	}
}