html {
    padding: 30px;
    margin: 0;
}
.Top {
    font-size: 30px;
    color: whitesmoke;
    margin-top: 0px;
}
.Bio {
    margin-left:10%;
}
.Identity {
    padding: 10px;
    margin: 0;
    font-size: 20px;
    margin-top: -15%;
    margin-left: 23%;
    color: whitesmoke;
    background-color: rgb(59, 64, 69);
    border-radius: 9px;
}
.Des {
    color: whitesmoke;
    margin-top: 150px;
}
.text {
    margin-left: 60px;
}
.des {
    border-color: aquamarine;
    border-style: groove;
}
.footer {
    color: whitesmoke;
    margin-top: 250px;
}
.end {
    color: whitesmoke;
}